<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
	<title>heart_pred</title>
    
</head>
	<style>
    #main-footer
    {
      color: #FFFFFF;
      font-family: "Segoe UI";
      background: #2B2B2B;
      text-align: center;
      margin-top: 125px;
      padding: 16px;
      bottom: 8px;
    }</style>
<body>
    <header class="site-header">
  <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
    <div class="container">
      <a class="navbar-brand mr-4" href="/">ML-MT App</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarToggle">
        <div class="navbar-nav mr-auto">
          <a class="nav-item nav-link" href="/">Home</a>
          <a class="nav-item nav-link" href="/about">About</a>
          <a class="nav-item nav-link" href="/cancer">Cancer</a>
          <a class="nav-item nav-link" href="/diabetes">Diabetes</a>
          <a class="nav-item nav-link" href="/heart">Heart</a>
          <a class="nav-item nav-link" href="/liver">Liver</a>
          <a class="nav-item nav-link" href="/kidney">Kidney</a>
           <a class="nav-item nav-link" href="/Malaria">Malaria</a>
           <a class="nav-item nav-link" href="/Pneumonia">Pneumonia</a>


        </div>
        <!-- Navbar Right Side
        <div class="navbar-nav">
          <a class="nav-item nav-link" href="/login">Login</a>
          <a class="nav-item nav-link" href="/register">Register</a>
        </div>-->
      </div>
    </div>
  </nav>
</header>
<div class="container",class="form-group">
        <h2>Details Heart: </h2>
    <h2>Welcome</h2>
    <h3>Enter the Following parameters :</h3>
  <form action="/result" method="POST">
    <label for="age">Age : </label>
    <input type="text" id="age" name="age">
    <br>

    <label for="sex">Sex(1:Male,0:Female) : </label>
    <input type="text" id="sex" name="sex">
    <br>

    <label for="chest pain type">Chest pain type : </label>
    <input type="text" id="chest pain type" name="chest pain type">
    <br>

    <label for="trestbps">Trestbps : </label>
    <input type="text" id="trestbps" name="trestbps">
    <br>

     <label for="serum cholestoral in mg/dl">Serum cholestoral in mg/dl : </label>
    <input type="text" id="serum cholestoral in mg/dl" name="serum cholestoral in mg/dl">
    <br>

    <label for="restecg">Restecg : </label>
    <input type="text" id="restecg" name="restecg">
    <br>

    <label for="thalach">Thalach : </label>
    <input type="text" id="thalach" name="thalach">
    <br>

    <label for="exang">Exang : </label>
    <input type="text" id="exang" name="exang">
    <br>

    <label for="oldpeak">Oldpeak : </label>
    <input type="text" id="oldpeak" name="oldpeak">
    <br>

    <label for="slope">Slope : </label>
    <input type="text" id="slope" name="slope">
    <br>

    <label for="thal">Thal : </label>
    <input type="text" id="thal" name="thal">
    <br>
    <br>

    <input type="submit" value="Submit"><br><br>
</form>


    </div>


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
		<footer id="main-footer">
      Copyright &copy; 2020
    </footer>
</body>
</html>
